<h2>JSON Links</h2>
<div class="input-group mb-3">
    <span class="input-group-text" id="version">Version</span>
    <input type="text" class="form-control" placeholder="Version" aria-label="Version" aria-describedby="version"
        [(ngModel)]="currentPatch" pattern="^(\d+\.)?(\d+\.)?(\*|\d+)$">
</div>
<table class="table" *ngIf="isValidVersion(currentPatch)">
    <thead>
        <tr>
            <th scope="col">JSON Link</th>
            <th scope="col">Latest JSON Link</th>
            <th scope="col">Upcoming JSON Link</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let set of getSetArray()">
            <td><a [href]="getJSONLink(patch2code(currentPatch), set)" target="_blank">Set {{set}} - V{{
                    patch2code(currentPatch, true) }}</a></td>
            <td><a [href]="getJSONLink('latest', set)" target="_blank">Set {{set}} - Latest</a></td>
            <td><a [href]="getJSONLink(upcomingPatch(currentPatch), set)" target="_blank">Set {{set}} - V{{
                    upcomingPatch(currentPatch, true) }}</a></td>
        </tr>
    </tbody>
</table>
<h2>Archetypes (Outdated)</h2>
<a
    href="https://docs.google.com/spreadsheets/d/1EOYxF6NTAZoGDzOOBMx-GW9h11O5jP7eOPfFXcy2sGo/edit#gid=0">https://docs.google.com/spreadsheets/d/1EOYxF6NTAZoGDzOOBMx-GW9h11O5jP7eOPfFXcy2sGo/edit#gid=0</a>