.set-component {
    display: inline-block;
    width: 50%;
}

.patch-label {
    width: 70px;
    display: inline-block;
}

table {
  .subheader {
    background-color: grey;
    color: white;
  }

  .removed-cards {
    img {
      filter: grayscale(80%);
    }
  }
  
  .flavor-changed-cards {
    img {
      opacity: 0.5;
    }
  }
}