<div class="mb-3">
  <div>Use the already data:</div>
  <ng-container *ngFor="let pInfo of patchInfo; let i = index;">
    <label class="patch-label">
      <input [disabled]="i == 0" name="options" ng-control="options" type="radio" [value]="pInfo.code"
        [checked]="pInfo.checked" (change)="selectPatchInfo(pInfo)">
      {{pInfo.name}}
    </label>
  </ng-container>
  <button type="button" class="btn btn-success mb-2" (click)="compare()">Compare</button>

  <div>Or use your data files:</div>
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>{{title}}</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  {{error}}
</div>

<ng-container *ngIf="isCompleted">
  <div class="form-inline" *ngIf="cardChanged.length || cardAdded.length">
    <div class="form-group">
      <label for="resourceImageFolder">Resource Image Folder</label>
      <!-- <input type="file" class="form-control mx-sm-3" id="resourceImageFolder" placeholder="Resource Image Folder"
        [(ngModel)]="resourceImageFolder"> -->
      <button *ngIf="cardChanged.length" type="button" class="btn btn-secondary ml-1" (click)="copyResourceImages()">File Changed List</button>
      <button *ngIf="cardAdded.length" type="button" class="btn btn-secondary ml-1" (click)="convertNewCards()">Convert New Cards</button>
    </div>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" value="" id="add-display" [(ngModel)]="isDisplayAddedData"
      (change)="compare()">
    <label class="form-check-label" for="add-display">
      Added data
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" value="" id="change-display" [(ngModel)]="isDisplayChangedData"
      (change)="compare()">
    <label class="form-check-label" for="change-display">
      Changed data
    </label>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-success mr-3" (click)="optionChanged('display')">Display</button>
    <button type="button" class="btn btn-success mr-3" (click)="optionChanged('patchNote')">Patch Note</button>
    <button type="button" class="btn btn-success mr-3" (click)="optionChanged('newChangeLog')">Change Log</button>
  </div>

  <div *ngIf="cardAdded.length">There are {{cardAdded.length}} card added</div>
  <div *ngIf="cardChanged.length">There are {{cardChanged.length}} card changes</div>
  <div id="display"></div>
  <div id="code"></div>
</ng-container>