<h1>LoR Generator v1.2.2</h1>
<p>A tool for tracking the card updates of each patch and save the editor's time.</p>
<p>Author: Onfealive</p>

<h2>Change Log</h2>
<div class="accordion" id="accordionChangeLog">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#v1_2_2" aria-expanded="true" aria-controls="v1_2_2">
                    v1.2.2
                </button>
            </h2>
        </div>

        <div id="v1_2_2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionChangeLog">
            <div class="card-body">
                <ul>
                    <li>Data
                        <ul>
                            <li>V2.3 until day 2021/02/21</li>
                            <li>Bugfix: Add missing data of V1.7</li>
                        </ul>
                    </li>
                    <li>Patch Note Generator
                        <ul>
                            <li>Update Layout: Table display with old and new card images (if any).</li>
                        </ul>
                    </li>
                    <li>About
                        <ul>
                            <li>Added.</li>
                            <li>Change Log: Added.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#v1_2_1" aria-expanded="false" aria-controls="v1_2_1">
                    v1.2.1
                </button>
            </h2>
        </div>
        <div id="v1_2_1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionChangeLog">
            <div class="card-body">
                <ul>
                    <li>Data
                        <ul>
                            <li>V2.3 until day 2021/02/20</li>
                        </ul>
                    </li>
                    <li>Patch Note Generator
                        <ul>
                            <li>Add toggle for added and changes cards.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#v1_2_0" aria-expanded="false" aria-controls="v1_2_0">
                    v1.2.0
                </button>
            </h2>
        </div>
        <div id="v1_2_0" class="collapse" aria-labelledby="headingThree" data-parent="#accordionChangeLog">
            <div class="card-body">
                <ul>
                    <li>Data
                        <ul>
                            <li>V2.3 until day 2021/02/19</li>
                            <li>V2.2</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#v1_1" aria-expanded="false" aria-controls="v1_1">
                    v1.1
                </button>
            </h2>
        </div>
        <div id="v1_1" class="collapse" aria-labelledby="headingThree" data-parent="#accordionChangeLog">
            <div class="card-body">
                <ul>
                    <li>Data
                        <ul>
                            <li>Added - From V0.9.1 to V2.1</li>
                        </ul>
                    </li>
                    <li>Patch Note Generator
                        <ul>
                            <li>Now able to use site data, it is not necessary using local files.</li>
                            <li>Now can hover on Card name to see card image.</li>
                        </ul>
                    </li>
                    <li>Expedition Generator
                        <ul>
                            <li>Now able to use site data, it is not necessary using local files.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#v1_0" aria-expanded="false" aria-controls="v1_0">
                    v1.0
                </button>
            </h2>
        </div>
        <div id="v1_0" class="collapse" aria-labelledby="headingThree" data-parent="#accordionChangeLog">
            <div class="card-body">
                <ul>
                    <li>Live.</li>
                    <li>Patch Note Generator
                        <ul>
                            <li>Added - Used to collect changes to Patch Note, as well as for writing Patch Note on Wiki.</li>
                        </ul>
                    </li>
                    <li>Expedition Generator
                        <ul>
                            <li>Added - Use to replace the text card related to the Expedition of Patch Note..</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>