<h1>LoR Generator {{latestVersion}}</h1>
<p>A tool for tracking the card updates of each patch and save the editor's time.</p>
<p>Author: Onfealive, <input type="email" class="form-control" value="vhtnghia@gmail.com" readonly></p>
<p>Feedback Link: <a href="https://forms.gle/pXGsRk5BwBau7PbQ7">https://forms.gle/pXGsRk5BwBau7PbQ7</a></p>

<h2>Change Log</h2>
<div class="accordion mb-5" id="accordionChangeLog">
    <div class="accordion-item" *ngFor="let changeLog of changeLogs; let i = index">
        <h2 class="accordion-header" [id]="'heading' + i">
            <button class="accordion-button" [ngClass]="{'collapsed': i != 0}" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="i == 0"
                [attr.aria-controls]="'collapse' + i">
                {{'v' + changeLog.version}}
            </button>
        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{'show': i == 0}"
            [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionChangeLog">
            <div class="accordion-body">
                <ul>
                    <li *ngFor="let change of changeLog.changes">
                        {{change.title}}
                        <ul>
                            <li *ngFor="let detail of change.details">{{detail}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>