<div>Newest Patch: {{newestPatch}}.</div>
<div>Or use your data file:</div>
<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>{{title}}</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
{{error}}
<div class="input-group mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text text-content">Text Content</span>
  </div>
  <textarea #text class="form-control" aria-label="Text Content" [(ngModel)]="textContent"></textarea>
</div>
<div class="d-flex flex-row-reverse mt-3 align-right ">
  <button type="button" class="btn btn-success" (click)="executeText()" [disabled]="error ||  !isCompleted || textContent.length == 0">Excecute</button>
  <button type="button" class="btn btn-info me-3" (click)="text2Clipboard()" [disabled]="!isCompleted || textContent.length == 0">Copy</button>
</div>
