<div class="row">
  <div class="col-12 col-md-10">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text text-content">Text Content</span>
      </div>
      <textarea #text class="form-control" aria-label="Text Content" [(ngModel)]="textContent"></textarea>
    </div>
  </div>

  <div class="col-12 col-md-2 d-grid gap-2  mt-2 mt-md-0">
    <button type="button" class="btn btn-success" (click)="executeText()"
      [disabled]="error ||  !isCompleted || textContent.length == 0">Excecute</button>
    <button type="button" class="btn btn-info" (click)="clearText()"
      [disabled]="!isCompleted || textContent.length == 0">Clear</button>
  </div>
</div>