.navbar {
    background-color: #e3f2fd;

    .nav-item {
        .nav-link.active {
            font-weight: bold;
        }
    }
}

.background-loading {
    width: 300px;
    height: inherit;
}

.container {
    position: relative;
}