<div>Newest Patch: {{newestPatch}}.</div>
<div>Or use your data file:</div>
<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>{{title}}</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
{{error}}
<div class="input-group mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text expedition-content">Expedition Content</span>
  </div>
  <textarea #expedition class="form-control" aria-label="Expedition Content" [(ngModel)]="expeditionContent"></textarea>
</div>
<div class="mt-3">
  <button type="button" class="btn btn-success" (click)="executeExpedition()" [disabled]="!isCompleted || expeditionContent.length == 0">Excecute</button>
</div>
