<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Regions</label>
        <div class="col-sm-11 image-checkboxes-container">
            <div class="form-check form-check-inline" formArrayName="regions"
                *ngFor="let region of regionsFormArray.controls; let i = index">
                <input class="form-check-input" type="checkbox" [id]="'region' + regionsData[i].id"
                    [formControlName]="i">
                <label class="form-check-label" [for]="'region' + regionsData[i].id">
                    <img *ngIf="regionsData[i].icon" [src]="'./assets/icons/' + regionsData[i].name + '.png'">
                    <span *ngIf="!regionsData[i].icon">{{regionsData[i].name }}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Sets</label>
        <div class="col-sm-11 image-checkboxes-container">
            <div class="form-check form-check-inline" formArrayName="sets"
                *ngFor="let region of setsFormArray.controls; let i = index">
                <input class="form-check-input" type="checkbox" [id]="'set' + setsData[i].id" [formControlName]="i">
                <label class="form-check-label" [for]="'set' + setsData[i].id">
                    <img *ngIf="setsData[i].icon" [src]="'./assets/icons/' + setsData[i].name + '.png'">
                    <span *ngIf="!setsData[i].icon">{{setsData[i].name }}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Card Types</label>
        <div class="col-sm-11 image-checkboxes-container">
            <div class="form-check form-check-inline" formArrayName="cardTypes"
                *ngFor="let region of cardTypesFormArray.controls; let i = index">
                <input class="form-check-input" type="checkbox" [id]="'cardType' + cardTypesData[i].id"
                    [formControlName]="i">
                <label class="form-check-label" [for]="'cardType' + cardTypesData[i].id">
                    <img *ngIf="cardTypesData[i].icon" [src]="'./assets/icons/' + cardTypesData[i].name + '.png'">
                    <span *ngIf="!cardTypesData[i].icon">{{cardTypesData[i].name }}</span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row text-center">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="clearFilters()">Clear Filters</button>
            <button type="submit" class="btn btn-primary ms-2">Search</button>
        </div>
    </div>
</form>

<div class="search-result" *ngIf="isCompleted">
    <div class="mt-3">Found {{searchResults.length}} card(s).</div>
    <div class="row row-cols-auto row-cols-md-6 g-4 mt-3">
        <div class="col" *ngFor="let card of searchResults">
            <div class="card h-100">
                <div class="card-header text-center">
                    <small class="text-muted ">{{card.code}}</small>
                </div>
                <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="getAPIImage(card.code)"
                    [alt]="card.code">
                <div class="card-body">
                    <h5 class="card-title text-center">{{card.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>