// Learn about this technique:
// @link https://moderncss.dev/pure-css-smooth-scroll-back-to-top/

$color: #254568;
$main-width: 50rem;
// How far of a scroll travel within <main> prior to the
// link appearing
$scrollLength: 100vh;

.back-to-top-wrapper {
    // uncomment to visualize "track"
    // outline: 1px solid red;
    position: absolute;
    top: $scrollLength;
    right: -5em;
    bottom: -5em;
    width: 3em;
    pointer-events: none;
}

.back-to-top-link {
    // `fixed` is fallback
    position: fixed;
    // preferred positioning, requires prefixing for most support, and not supported on Safari
    // @link https://caniuse.com/#search=position%3A%20sticky
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - 5rem);

    // basic styling
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.25rem;

    // "pretty" styles, including states
    border: 1px solid $color;
    background-color: scale-color($color, $lightness: 85%);
    transition: transform 80ms ease-in;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px scale-color($color, $lightness: 35%);
    }
}

form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

    .form-control-plaintext {
        outline: none;
    }

    .form-check {
        padding-left: 0.5rem;
    }

    textarea {
        resize: none;
    }
}

.image-checkboxes-container {
    input[type="checkbox"] {
        display: none;
    }

    label {
        border: 1px solid #fff;
        // padding: 5px;
        display: block;
        position: relative;
        margin: 5px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    label::before {
        // background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        right: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 20px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label {
        img,
        span {
            height: 60px;
            width: auto;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

        span {
            display: inline-block;
        }
    }

    :checked + label::before {
        content: "✓";
        background-color: green;
        transform: scale(1);
        color: white;
        z-index: 1;
    }

    :checked + label {
        img,
        span {
            transform: scale(0.9);
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
            z-index: -1;
        }

        &.circle span {
            transform: translate(-50%, -50%) scale(0.9);
            z-index: 0;
        }
    }

    .circle span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        height: auto;
    }
}

.card-info {
    .card-header,
    .card-img-top {
        cursor: pointer;
    }

    .to-clipboard {
        margin-left: 5px;
        user-select: none;
    }
}

.card-detail {
    .card-image {
        max-width: 100%;
    }
}
.keyword-container {
    .col-form-label {
        margin-top: .84375em;
    }
}